*{
    font-family: Century Gothic;
}
body{
    background: BlanchedAlmond;
}
header footer{
    background-color: Sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
}
#lewy{
    background-color: NavajoWhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;;
    box-shadow: 5px 5px 10px DimGray;
}
#nawigacja{
    width: 50%;
    height: 50px;
}
#prawy{
    width: 50%;
    height: 420px;
    overflow: auto;
}
main{
    width: 100%;
}