body {
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
    display: block;
}

#gorny1,#gorny2 {
    background: rgb(146,184,112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
}

header,footer {
    background: rgb(100,61,49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
    clear: both;
}

#lewy,#prawy {
    background: rgb(146,184,112);
    width: 50%;
    height: 450px;
    float: left;
}

#gorny1 a {
    background-image: url(cukierki1.jpg);
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
    display: inline-block;
}

table,td {
    border: 2px dashed green;
    margin: 30px;
    padding: 20px;
}

h1 {
    letter-spacing: 20px;
    font-size: 250%;
}