
header{
    text-align: center;
    width: 100%;
    height: 100px;
}
#lewy{
    width: 50%;
    height: 300px;
    float: left;
    background-color: aqua;
    text-align: center;
    align-items: center;
}
#prawy{
    width: 50%;
    height: 300px;
    float: right;
    background-color: deeppink;
    text-align: center;
    align-items: center;
}