*{
    font-family: tahoma;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F6E5DC;
}
header{
    background-color:  #2F180C;
    text-align: center;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    background-color: transparent;
}
.lewy{
    width: 60%;
    float: left;
}
.prawy{
    font-size: 200%;
    padding: 50px;
    float: left;
}
.dolny{
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
    clear: both;
}
footer{
    background-color: #2F180C;
    color: white;
    height: 60px;
}
footer p{
    background-color: transparent;
}
img{
    height: 400px;
}
ul{
    list-style-type: circle;
}